.section {
    display: flex;
}

.service {
    padding: 2rem;
    text-align: center;

    .service__blocks {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex-wrap: wrap;
        align-items: center;
    }

    .service__block {
        position: relative;
        width: 400px;
        height: 250px;
        background-image: linear-gradient(to bottom, #07a6c9, #004e63);
        cursor: pointer;
        border-radius: 10px;
        padding: 1.5rem;
        font-family: 'Andika', sans-serif;
        left: 28%;

        h2 {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 4rem;
            color: #ffffff;
            margin: 0;
        }

        p {
            position: absolute;
            bottom: 10px;
            left: 10px;
            font-size: 1.5rem;
            color: #ffffff;
            margin: 0;
        }

        img {
            position: absolute;
            bottom: 10px;
            right: 10px;
            width: 20px;
            height: 20px;
        }

        @media (max-width: 768px) {
            width: 364px;
            left: 0
        }
    }
}

.imagesContainer {
    position: relative;
    left: 21%;
}

.backtage {
    width: 740px;
    height: 740px;
    border-radius: 10px;
    display: block;
}

.backicon {
    width: 350px;
    height: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer{
    margin-top: 10%;
}
@media (max-width: 400px) {
    .section {
        flex-direction: column;
        align-items: center;
    }

    .service {
        padding: 1rem;
    }

    .service__block {
        width: 280px;
        height: 180px;
        left: 0;
        padding: 1rem;

        h2 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.2rem;
        }

        img {
            width: 15px;
            height: 15px;
        }
    }

    .imagesContainer {
        left: 0;
        text-align: center;
    }

    .backtage {
        display: none; // Скрываем большое фото
    }
    .backicon{
        display: none;
    }

    .backicon {
        width: 200px;
        height: 220px;
    }

    .footer {
        margin-top: 5%;
    }
}
